**/node_modules
**/dist
**/.nx
**/coverage
**/.cache
**/.turbo
**/test-results
**/playwright-report
**/blob-report

**/.DS_Store
**/.idea
**/.vscode

.env
.env.local
.env.*.local
.beads/

.git
.gitignore
